.kpis-scroll {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* عمودين */
  gap: 1rem;

  max-height: calc(3 * 80px); /* ارتفاع يكفي 3 صفوف */
  overflow-y: auto;
  padding-right: .5rem;
}

.kpis-scroll .item-row {
  background: #fff;
  border: 1px solid #eef2f7;
  border-radius: 14px;
  padding: 1rem 1.2rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100px;
}


.item-text {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.item-header {
  display: flex;
  align-items: center;
  gap: 0.75rem; /* مسافة بين الاسم والtype */
}

.item-title {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.item-type {
  font-size: 0.9rem;
  font-weight: 500;
  color: #12A0C7;
  background: #EAFAFF;
  padding: 0.25rem 0.6rem;
  border-radius: 8px;
}

.item-sub {
  font-size: 0.85rem;
  color: #777;
}

