<div class="candidates-page">
  <!-- Header Section -->
  <div class="page-header">
    <div class="header-content">
      <div class="title-section">
        <h1 class="page-title">Job</h1>
      </div>
    </div>

    <!-- Search Section -->
    <div class="search-management mb-4 position-relative w-50">
      <i class="pi pi-search search-icon"></i>
      <input
        type="text"
        placeholder="Search for job"
        [(ngModel)]="searchTerm"
        class="form-control ps-5"
      />
    </div>
  </div>

  <div class="page-content">
    <app-job-list [searchTerm]="searchTerm"></app-job-list>
  </div>
</div>
