::ng-deep .permission-dialog .p-dialog-content {
  padding: 24px 32px !important;
}

::ng-deep .permission-dialog .p-dialog-header {
  padding: 20px 32px 10px 32px !important;
}

::ng-deep .permission-dialog .p-dialog-footer {
  padding: 16px 32px 24px 32px !important;
}
::ng-deep .permission-dialog .p-dialog-footer {
  display: flex !important;
  justify-content: flex-end !important;
  gap: 12px; /* مسافة بين الزرارين */
}

.permission-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.full-width {
  width: 100%;
}

label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

input {
  height: 40px;
  border-radius: 6px;
}
.error-message {
  color: #dc3545;      
  font-size: 12px;
  margin-top: 4px;
  display: block;
}