.docs-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 1rem 0;
}

.doc-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  background-color: #FAFAFA;
}

.doc-left {
  display: flex;
  align-items: center;
  gap: 10px;

}

.doc-icon {
  width: 24px;
  height: 24px;
}

.doc-name {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.doc-download-btn {
  background: #A7E2F2;
  border: none;
  border-radius: 20%;
  padding: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.doc-download-btn:hover {
  background: #e0f0ff;
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}

.save-button{
    background-color: #12A0C7;
    border-radius: 8px;
}

.cancel-button {
    color: #414651;
    border-radius: 8px;
    background-color: #FFFFFF;
    border-color: #D5D7DA;
}

.folder-img {
    background: #ECFDF3;
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}