<div class="candidates-page">
  <!-- Header Section -->
  <div class="page-header">
    <div class="header-content">
      <div class="title-section">
        <h1 class="page-title">Documents</h1>
        <p class="page-subtitle">View your candidates Documents</p>
      </div>
      
      <div class="action-buttons">
        <p-button 
          icon="pi pi-download" 
          label="Export" 
          severity="secondary" 
          [outlined]="true"
         >
        </p-button>
        
      </div>
    </div>
      
  <!-- Content Section -->
  <div class="page-content">
    <app-document-list></app-document-list>
  </div>
  
</div>